
<nav class="navbar">
  <a class="nav-title">Clima Mundial</a>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="bg-nav">
        <ul class="nav flex-column">
          <li class="nav-item" >
            <a class="nav-link active" routerLink="/" (click)="activateClass(act)"
            [ngClass]="{'active': act === true}"><strong>Início</strong></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/bookmarks" (click)="activateClass(act2)"
            [ngClass]="{'active': act2 === true}"><strong>Favoritos</strong></a>
          </li>
          <li style="float: right">
            <div class="nav-link" id="navbar-portal-outlet"></div>
          </li>
        </ul>
      </div>
      
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

