.container-fluid {
  margin: 0 0 16px 0;
  padding: 32px 0 0;

  .current-card {
    padding: 16px;
    box-shadow: 30px;
    margin: 12px 10%;
  }
}

h1 {
  text-align: center;
}

.err {
  color: white;
  font-weight: bold;
  font-size: large;
  font-family: 'Lucida Sans', sans-serif;
}
